*{
    margin:10px;
    padding:0;
    box-sizing: border-box;
    color:rgb(66, 65, 65);
    /*border: 1px solid ;
    border-color: aqua;*/
}
body{
    padding: 16px;
    /*font-family: WorkSans, sans-serif;*/
    background-color: #f1ddd0;
    /*background-color: #284a5e;
    background-color: #698996;
    background-color: #285e55;*/

    /*colori belli 28565e  285e55 */
}
h1{
    font-size: 48px;
    margin: 12px;
    display: block;
    /* margin-left: auto;
    color: #503116;
    margin-right: auto; */
    /*font-family: "Economica", sans-serif;*/
}
h2{
    color: #688B58;
    margin: 12px;
    /*font-family: "Economica", sans-serif;*/
    display: block;
    text-align: center;
    justify-content: space-around;
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    flex-grow: 1;

}
h4{
    color: #1D1E2C;
    margin-bottom: 12px;
   /* font-family: "Sarala", sans-serif;*/
    font-size: 16px;
    margin-left:30px;
    /*margin-top: 25px;*/
}
.margin-bottom{
    margin-bottom: 22px;
}

h5{
    font-size: 14px;
    margin-left:20px;
    
}
ul{
    padding:3px;
    margin-left: 40px;;
    /*font-family: "Raleway", sans-serif;*/
}
ol{
    padding:3px;
    margin-left: 40px;;
    /*font-family: "Raleway", sans-serif; */
}
li{
    line-height: 1.3;
}

p{
    margin-left: 20px;
    margin-top:5px;
    line-height: 1.5; /*spazio tra le linee*/
    /*font-family: "Raleway", sans-serif;*/
}
/* # COLORI*/
/*# BACKGROUND*/
/*# PADDING*/
/*# MARGIN*/
/*# FLEX*/
.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 1%;
    
}
.imgs{
    display: block;
    align-items:center;
    justify-content:center;
    padding: 2px;
    
}
.form{
    margin-top : 10px;
    margin-left: 20px;
}
#me{
    display:flex;
    height: fit-content;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.list{
    padding: 0.2px;    
    margin-left: 20px;
}
.flex{
    display: flex;  
}
.inline_b{
    display: inline-block;
}
.wall{
    /*background-color: #194D3350 ;*/
    /*background-color: #1d1e2cF2; /* aggiungendo un numero da 00 a FF alla fine gestisco la trasparenza*/
    padding: 10px;
    border: 8px solid #171924;
   
    /*padding-top: 20px;*/
    border-radius: 16px;
}
.space{
    margin: 20px;
    margin-top: 30px;
}
.animal{
    width: 20%;
}
.banner{
    background-color: white;
    border-radius: 8px;
    height: 53px;
    justify-content: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0.2%, rgba(255,255,255,0) 100%);

}
.gradient{
    /*background-color: #f1ddd0 ;*/ /* metto su left and right*/
    margin-top: 0;
    margin-bottom: 0;
}
/* aggiungere a gradient quando si trova un modo di moltiplicare il gradient
flex-grow: 1;
*/

.g0{
    width: 5.5%;
}
.g1{
    width: 4%;
    
}
.g2{
    width: 2%;
}
.g3{
    width: 1%;
}
.g4{
    width: 0.5%;
}
.g5{
    width: 0.2%;
}
/* CAPIRE COME RENDERLO RESPONSIVE*/
.left{
    justify-content: left;
    background-image: linear-gradient(to left, #f1ddd0 50%, rgba(255, 255, 255, 0) 100%);
}
.right{
    align-items: right;
}
.align_left{
    align-items: left;
}
/*END CAPIRE COME RENDERLO RESPONSIVE !*/
.fill{
    border: 2px solid grey;
    background-color: #b8e1ff;
    border-radius: 8px;
    font-size: 16px;
    padding: 2px;
    padding-left: 8px;
    padding-right: 0px; 
}
.bottone{
    border: 2px solid #8ac9f7;
    color:black;
    background-color: rgb(175, 175, 175);
    border-radius: 8px;
    margin-left: 0;
    height: 30px;
    width: 40px;
    padding: 4px;

}
.contatti{
    font-size: 24px;
}
.logo{
    height: 50px;
}
.center{
    justify-content: center;
    align-items: center;
}
.left{
    justify-content: left;
    align-items: center;
}
.ten{
    height: 40px;
    display: inline;
    position: relative;
    padding: 2px;
}
.sp_btw{
   justify-content: space-between;
   vertical-align: bottom;
}
.p_20{
    padding: 10px;
    font-size: 20px;
}
.bg_c{
    background-color: chartreuse;
}
.thirty{
    height: 30px;
}
.pattern{
    background-color: #000000;
    /*background-image: url('../images/waves.avif');*/
    background-image: url('../images/ginkgo1.jpg');
    width: 100%;
    
    object-fit:cover;
}/*
#overlay{
    background-color: #1d1e2cF2;
} */
.bg_d_blue{
    background-color: #1d1e2cF2;
}   
.overlay{
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    z-index:1;
    background-color: #1d1e2cF2;
    opacity: 95%;
    border-radius: 8px;
    margin: 0;



    background-image: linear-gradient(to right, rgb(76, 86, 107) 5%, rgba(255, 255, 255, 0) 40%);
}
.overlay1{
    /*inset: 0; stretch (è come scriver top right left e bottom tutti a 0*/
    z-index: 2;
}
.position_rel{
    position: relative;
}
.position_abs{
    position: absolute;
}
.m_0{
    margin: 0;
}
.color_b{
    color: #000000;
}
.color_w{
    color:white;
}
.color_p{
    color:#f1ddd0;
}
.font_title{
    font-family: "Delius Unicase", cursive;
    font-weight: 400;
    font-style: normal;
}
.width_70{
    width: 100%;
}
.bg_cream{
    background-image: url("../images/cream_background.jpg") ;
}
.bg_cream_dark{
    background-image: url("../images/bg_c_dark.jpg");
}
.m_bottom_0{
    margin-bottom: 0;
}
.m_top_0{
    margin-top: 0;
}
.h_10{
    height: 10%;
}
.h_70{
    height: 70%;
}
/* BOOTSTRAP */

